@import "_normalize.scss";

.wrapper {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #000;
}

.container {
  max-width: 1007px;
  margin: 0 auto;
}

.header {
  &__hero {
    background-color: #5a708e;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 0 40px 0;
  }

  &__nav-title {
    font-size: 32px;
    color: #8bc3da;
    font-weight: 700;
  }

  &__list {}

  &__list-link {
    margin-right: 30px;
    color: #fff;
    transition: .2s ease;
    text-decoration: none;

    &:hover {
      color: #8bc3da;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__wrap {
    background-color: #73a9bf;
    color: #ffffff;
  }

  &__about {
    padding: 55px 0 83px 0;
  }

  &__about-block {}

  &__icon-me {}

  &__about-me {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.36px;
    margin-bottom: 30px;
  }

  &__about-text {
    max-width: 700px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.26px;
    margin-bottom: 70px;
  }

  &__about-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__user {}

  &__table {
    width: 457px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
  }

  &__row {
    margin: 0 0 20px 0;
    padding: 0 0 12px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px dotted #fff;
  }

  &__row-ask {}

  &__row-info {
    &:hover {
      transition: .2s ease;
      color: #5a708e;
      cursor: pointer;
    }
  }
}

.main {
  padding: 80px 0;
  background-color: #efe8dd;

  &__title {
    color: #565656;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.36px;
  }

  &__text {
    color: #565656;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.26px;
    margin-bottom: 64px;
  }

  &__hero {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    width: 561px;
  }

  &__block {}

  &__block-title {
    color: #565656;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.29px;
    border-bottom: 1px solid #565656;
    padding-bottom: 6px;
    margin-bottom: 20px;
  }

  &__work {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: #565656;
  }

  &__postion {
    margin-bottom: 5px;
  }

  &__time {
    font-style: italic;
    font-weight: 600;
  }

  &__site {
    font-weight: 600;
  }

  &__article {}

}