@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  width: 100%;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: sans-serif;
}

.wrapper {
  font-family: sans-serif;
  overflow: hidden;
  min-height: 100%;
  position: relative;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  animation: sunSet 4s ease-in-out 1.5s forwards, sunSet 4s ease-in-out 16s forwards 1 reverse;
  background: #bae4f4;
}

.wrapper {
  position: relative;
  overflow: hidden;
  min-height: 100%;
}

.sun {
  animation: sunshine 3s linear infinite, sunMove 12s ease-in-out forwards 1, sunMove 12s ease-in-out 12s 1 reverse;
  position: absolute;
  top: 60px;
  left: 60px;
  width: 100px;
  height: 100px;
  background: #f1c40f;
  border-radius: 50%;
  z-index: -5;
}

.moon {
  animation: moonMove 11s ease-in-out forwards 1, moonMove 11s ease-in-out 11s forwards 1 reverse;
  position: absolute;
  top: 100%;
  left: 30%;
  background: transparent;
  height: 6em;
  width: 6em;
  border-radius: 50%;
  -webkit-box-shadow: -1.5em 1em 0 0.5em white, -3em 1.5em 1.5em rgba(255, 255, 255, 0.3);
          box-shadow: -1.5em 1em 0 0.5em white, -3em 1.5em 1.5em rgba(255, 255, 255, 0.3);
  z-index: -5;
}

.mountain-1,
.mountain-2 {
  background: #baa39a;
  width: 800px;
  height: 800px;
  position: absolute;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  bottom: -350px;
  border-radius: 40px;
  left: 150px;
  z-index: -2;
}

.mountain-2 {
  background: rgba(185, 160, 150, 0.7);
  left: 450px;
  bottom: -400px;
  z-index: -3;
}

.hill {
  position: absolute;
  bottom: 15%;
  right: 0;
  width: 100%;
  height: 200px;
  border-top-right-radius: 160%;
  border-top-left-radius: 100%;
  background-color: #adde60;
  z-index: -1;
}

.hill:after {
  content: "";
  position: absolute;
  bottom: -120px;
  right: -400px;
  width: 120%;
  height: 110%;
  border-top-right-radius: 100%;
  border-top-left-radius: 0%;
  background-color: #94c943;
  -moz-transform: rotate(-12deg);
  -webkit-transform: rotate(-12deg);
  -webkit-box-shadow: 0 0 25px #cbf191 inset;
          box-shadow: 0 0 25px #cbf191 inset;
}

.hill:before {
  background-color: #93cc3a;
  border-top-left-radius: 0;
  border-top-right-radius: 100%;
  bottom: -70px;
  content: "";
  height: 110%;
  left: -54px;
  position: absolute;
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg);
  width: 80%;
}

.street {
  background: #7a7a7a;
  height: 120px;
  width: 102%;
  position: absolute;
  bottom: 0;
}

.street:before,
.street:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 10px;
  background: #cdbcb4;
  bottom: 0;
  z-index: 1;
}

.street:before {
  top: -10px;
}

.street-stripe {
  background: #d4d4d4;
  height: 8px;
  width: 100px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 2px;
  -webkit-box-shadow: 200px 0 0 #d4d4d4, 400px 0 0 #d4d4d4, 600px 0 0 #d4d4d4, 800px 0 0 #d4d4d4, 1000px 0 0 #d4d4d4, 1200px 0 0 #d4d4d4, 1400px 0 0 #d4d4d4, 1600px 0 0 #d4d4d4, 1800px 0 0 #d4d4d4, 2000px 0 0 #d4d4d4;
          box-shadow: 200px 0 0 #d4d4d4, 400px 0 0 #d4d4d4, 600px 0 0 #d4d4d4, 800px 0 0 #d4d4d4, 1000px 0 0 #d4d4d4, 1200px 0 0 #d4d4d4, 1400px 0 0 #d4d4d4, 1600px 0 0 #d4d4d4, 1800px 0 0 #d4d4d4, 2000px 0 0 #d4d4d4;
}

.car {
  position: absolute;
  bottom: 90px;
  width: 200px;
  z-index: 5;
}

.car1 {
  -webkit-animation: carMove 3s linear .2s 10;
          animation: carMove 3s linear .2s 10;
}

.car2 {
  -webkit-animation: carMove 2s linear 5s 10;
          animation: carMove 2s linear 5s 10;
  left: -25%;
  bottom: 40px;
}

.car:before,
.car:after {
  content: "";
  position: absolute;
  bottom: -15px;
  background: url(../img/wheel.png) no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-animation: carRotateWhell .5s linear infinite;
          animation: carRotateWhell .5s linear infinite;
}

.car:before {
  left: 25px;
}

.car:after {
  right: 25px;
}

.car__img {
  max-width: 100%;
}

@-webkit-keyframes sunshine {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(241, 196, 15, 0.7), 0 0 0 0 rgba(241, 196, 15, 0.7);
            box-shadow: 0 0 0 0 rgba(241, 196, 15, 0.7), 0 0 0 0 rgba(241, 196, 15, 0.7);
  }
  40% {
    -webkit-box-shadow: 0 0 0 50px rgba(241, 196, 15, 0), 0 0 0 0 rgba(241, 196, 15, 0.7);
            box-shadow: 0 0 0 50px rgba(241, 196, 15, 0), 0 0 0 0 rgba(241, 196, 15, 0.7);
  }
  80% {
    -webkit-box-shadow: 0 0 0 50px rgba(241, 196, 15, 0), 0 0 0 30px rgba(241, 196, 15, 0);
            box-shadow: 0 0 0 50px rgba(241, 196, 15, 0), 0 0 0 30px rgba(241, 196, 15, 0);
  }
}

@keyframes sunshine {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(241, 196, 15, 0.7), 0 0 0 0 rgba(241, 196, 15, 0.7);
            box-shadow: 0 0 0 0 rgba(241, 196, 15, 0.7), 0 0 0 0 rgba(241, 196, 15, 0.7);
  }
  40% {
    -webkit-box-shadow: 0 0 0 50px rgba(241, 196, 15, 0), 0 0 0 0 rgba(241, 196, 15, 0.7);
            box-shadow: 0 0 0 50px rgba(241, 196, 15, 0), 0 0 0 0 rgba(241, 196, 15, 0.7);
  }
  80% {
    -webkit-box-shadow: 0 0 0 50px rgba(241, 196, 15, 0), 0 0 0 30px rgba(241, 196, 15, 0);
            box-shadow: 0 0 0 50px rgba(241, 196, 15, 0), 0 0 0 30px rgba(241, 196, 15, 0);
  }
}

@-webkit-keyframes sunMove {
  from {
    top: 60px;
    left: 60px;
  }
  to {
    top: 80%;
    left: 60%;
  }
}

@keyframes sunMove {
  from {
    top: 60px;
    left: 60px;
  }
  to {
    top: 80%;
    left: 60%;
  }
}

@-webkit-keyframes moonMove {
  from {
    top: 100%;
    left: 30%;
  }
  to {
    top: 60px;
    left: calc(100% - 150px);
  }
}

@keyframes moonMove {
  from {
    top: 100%;
    left: 30%;
  }
  to {
    top: 60px;
    left: calc(100% - 150px);
  }
}

@-webkit-keyframes sunSet {
  0% {
    background: #bae4f4;
  }
  75% {
    background: rgba(241, 196, 15, 0.5);
  }
  80% {
    background: #f39c12;
  }
  90% {
    background: #e67e22;
  }
  100% {
    background: #08082b;
  }
}

@keyframes sunSet {
  0% {
    background: #bae4f4;
  }
  75% {
    background: rgba(241, 196, 15, 0.5);
  }
  80% {
    background: #f39c12;
  }
  90% {
    background: #e67e22;
  }
  100% {
    background: #08082b;
  }
}

@-webkit-keyframes carMove {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(1000%);
            transform: translateX(1000%);
  }
}

@keyframes carMove {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(1000%);
            transform: translateX(1000%);
  }
}

@-webkit-keyframes carRotateWhell {
  from {
    -webkit-transform: rotate(deg);
            transform: rotate(deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes carRotateWhell {
  from {
    -webkit-transform: rotate(deg);
            transform: rotate(deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
