extends ../templates/base
block vars
  - var title = "Home"

block page-heading
  .page-heading
    h2.page-heading__title Radically Transparent
      span.page-heading__text Web and Mobile 
      | Development
    .page-heading-wrap
      .page-heading-icon
        img(src="img/mouse.png" alt="mouse")
      p.page-heading-desc Scroll Down To See More
block hero
  .hero
    .container
      .hero__build
        h2.hero__build-title We build applications for people
        p.hero__build-text Watching your idea develop into a valuable application should be fun, not daunting. Our approach makes you an integral part of the process while improving your tech along the way.
      .hero__client
        h2.hero__client-title: span.hero__client-line Some of Our Dear Clients
        .hero__client-wrap
          .hero__client-box
            img(src="./img/home_1.png", alt="client")
          .hero__client-box
            img(src="./img/home_2.png", alt="client")
          .hero__client-box
            img(src="./img/home_3.png", alt="client")
          .hero__client-box
            img(src="./img/home_4.png", alt="client")
          .hero__client-box
            img(src="./img/home_5.png", alt="client")
          .hero__client-box
            img(src="./img/home_6.png", alt="client")
          .hero__client-box
            img(src="./img/home_7.png", alt="client")
          .hero__client-box
            img(src="./img/home_8.png", alt="client")
          .hero__client-box
            img(src="./img/home_9.png", alt="client")
          .hero__client-box
            img(src="./img/home_10.png", alt="client")
          .hero__client-box
            img(src="./img/home_11.png", alt="client")
          .hero__client-box
            img(src="./img/home_12.png", alt="client")
          .hero__client-box
            img(src="./img/home_13.png", alt="client")
          .hero__client-box
            img(src="./img/home_14.png", alt="client")
          .hero__client-box
            img(src="./img/home_15.png", alt="client")
          .hero__client-box
            img(src="./img/home_16.png", alt="client")
            
      .digital__start
        h2.digital__type.digital__start-title Want to start the conversation?
        button.btn.digital__start-btn.hero__contact-btn Contact Us
block digital
  .digital__expert
    h2.digital__expert-title Digital Expertise
    p.digital__expert-text We have managed every facet of development from ideation to launch and use our experience to solve problems before they arise. Our design-oriented approach ensures your software will feel like home to your users, whether you have one or one million.
  .digital__start
    h2.digital__type.digital__start-title Want to start the conversation?
    button.btn.digital__start-btn Contact Us