extends ../templates/base
block vars 
  - var title = "Work"
block blog
  .blog__inner.work-inner
    h2.blog__title Our Blog
    p.blog__text.work-text We have a solid track record of delivering great results - on time and on budget. Here are just a few of our recent wins.. 
block work 
  .work
    .work__galery
      .work__box
        img(src="img/work_1.png", alt="work").work__photo
      .work__box
        img(src="img/work_2.png", alt="work").work__photo
      .work__box
        img(src="img/work_3.png", alt="work").work__photo
      .work__box
        img(src="img/work_4.png", alt="work").work__photo
      .work__box
        img(src="img/work_5.png", alt="work").work__photo
      .work__box
        img(src="img/work_6.png", alt="work").work__photo
      .work__box
        img(src="img/work_7.png", alt="work").work__photo
      .work__box
        img(src="img/work_8.png", alt="work").work__photo
      .work__box
        img(src="img/work_9.png", alt="work").work__photo
      .work__box
        img(src="img/work_10.png", alt="work").work__photo   
block digital 
  .digital__start
    h2.digital__type.digital__start-title Want to start the conversation?
    button.btn.digital__start-btn Contact Us


