section.awards
  .container
    .awards__title.wow.animate__animated.animate__fadeInUp
      h2.title.awards__title Awards and Certifications
    .awards__slider
      .awards__item
        picture
          source(type='image/webp' srcset='img/awards/award_1.webp')
          img(src="img/awards/award_1.png", alt="award").awards__photo
      .awards__item
        picture
          source(type='image/webp' srcset='img/awards/award_2.webp')
          img(src="img/awards/award_2.png", alt="award").awards__photo
      .awards__item
        picture
          source(type='image/webp' srcset='img/awards/award_3.webp')
          img(src="img/awards/award_3.png", alt="award").awards__photo
      .awards__item
        picture
          source(type='image/webp' srcset='img/awards/award_4.webp')
          img(src="img/awards/award_4.png", alt="award").awards__photo
      .awards__item
        picture
          source(type='image/webp' srcset='img/awards/award_2.webp')
          img(src="img/awards/award_2.png", alt="award").awards__photo