section.awards
  .container
    .awards__title.wow.animate__animated.animate__fadeInUp
      h2.title.awards__title Awards and Certifications
    .awards__slider
      .awards__item
        img(src="img/awards/award_1.png", alt="award").awards__photo
      .awards__item
        img(src="img/awards/award_2.png", alt="award").awards__photo
      .awards__item
        img(src="img/awards/award_3.png", alt="award").awards__photo
      .awards__item
        img(src="img/awards/award_4.png", alt="award").awards__photo
      .awards__item
        img(src="img/awards/award_2.png", alt="award").awards__photo