footer.footer
  .container
    .footer__content
      a(href="#").footer__logo
        svg.footer__logo-icon
          use(xlink:href="sprite/sprite.svg#logo")
      nav.footer__nav
        a(href="#").footer__nav-title Quick Links
        a(href="#").footer__nav-link About Us
        a(href="#").footer__nav-link News, PR and Media
        a(href="#").footer__nav-link Career
        a(href="#").footer__nav-link Contacts
      nav.footer__nav
        a(href="#").footer__nav-title Other Stuffs
        a(href="#").footer__nav-link Sitemap
        a(href="#").footer__nav-link Editorial Information
        a(href="#").footer__nav-link Privacy Policy
        a(href="#").footer__nav-link Terms & Conditions
      nav.footer__nav.footer__social
        a(href="#").footer__nav-title Social
        .footer__social-block
          svg.footer__social-icon
            use(xlink:href="sprite/sprite.svg#facebook")
          a(href="#").footer__nav-link.footer__social-link Facebook
        .footer__social-block
          svg.footer__social-icon
            use(xlink:href="sprite/sprite.svg#twitter")
          a(href="#").footer__nav-link.footer__social-link Twitter
        .footer__social-block
          svg.footer__social-icon
            use(xlink:href="sprite/sprite.svg#youtube")
          a(href="#").footer__nav-link.footer__social-link Youtube
        .footer__social-block
          svg.footer__social-icon.footer__nav-linkedin
            use(xlink:href="sprite/sprite.svg#linkedin")
          a(href="#").footer__nav-link.footer__social-link LinkedIn
    .footer__wrap
      p.footer__text Copyright &copy; 2020 NÜSSLI (Switzerland) Ltd
      form(action="#")
        select(name="lang").footer__select
          option(value="English").footer__option English
          option(value="Russian").footer__option Russian
        
      


