header.header
  .header__wrap
    .container.header__container
      .header__menu
        a(href="#").logo
          svg.logo__icon
            use(xlink:href="../sprite/sprite.svg#logo")
        button.hamburger.hamburger--spin
          span.hamburger-box
            span.hamburger-inner
        nav.header__nav
          a(href="#").header__link#header-projects Projects
          a(href="#").header__link#header-service Service
          a(href="#").header__link#header-product Products
          a(href="#").header__link#header-career Career
          a(href="#").header__link#header-contact Contacts
          a(href="#").header__link
            svg.search-icon
              use(xlink:href="../sprite/sprite.svg#search") 
  .slider
    .header__slider
      .header__slide
        img(src="img/header/header_bg.jpg" alt="slide_1").header__slide-img
        .header__hero        
          .header__banner
            span.header__text EXPO
            h2.header__title 2020 Dubai
      .header__slide
        img(src="https://picsum.photos/id/155/1800/1500" alt="slide_1").header__slide-img
        .header__hero        
          .header__banner
            span.header__text EXPO
            h2.header__title 2020 Dubai
      .header__slide
        img(src="https://picsum.photos/id/155/1800/1500" alt="slide_1").header__slide-img
        .header__hero        
          .header__banner
            span.header__text EXPO
            h2.header__title 2020 Dubai