section.awards.memberships
  .container
    .awards__title.wow.animate__animated.animate__fadeInUp
      h2.title.awards__title Memberships
    .awards__slider
      .awards__item
        img(src="img/memberships/member_1.png", alt="award").awards__photo
      .awards__item
        img(src="img/memberships/member_2.png", alt="award").awards__photo
      .awards__item
        img(src="img/memberships/member_3.png", alt="award").awards__photo
      .awards__item
        img(src="img/memberships/member_4.png", alt="award").awards__photo
      .awards__item
        img(src="img/memberships/member_2.png", alt="award").awards__photo