section.news
  .container
    .news__inner
      h2.title.news__title.wow.animate__animated.animate__fadeInUp News
      svg.arrow__icon
        use(xlink:href="sprite/sprite.svg#read_more")
    .news__wrap
      .news__item
        img(src="img/news/news_1.jpg" alt="news").news__item-img
      .news__item
        img(src="img/news/news_2.jpg" alt="news").news__item-img
      .news__item
        img(src="img/news/news_3.jpg" alt="news").news__item-img
      .news__item
        img(src="img/news/news_4.jpg" alt="news").news__item-img
