section.number
  .container
    h2.title.number__title.wow.animate__animated.animate__fadeInUp What We Have
    .number__wrap
      .number__count 300,000
      .number__count 400
      .number__count 80+
      .number__count 2000
