.project
  .container
    .project__wrap
      h2.title.project__title.wow.animate__animated.animate__fadeInUp Our Projects
      svg.arrow__icon
        use(xlink:href="sprite/sprite.svg#read_more")
    .project__slick
      .project__slider
        .project__item
          .project__inner
            .project__info
              h2.project__title Trade Fair Booth Seat
              .project__type
                .project__type-icon 
                  svg.project__type-svg
                    use(xlink:href="sprite/sprite.svg#work_1")
                p.project__type-desc Business
              p.project__text For the 88th time, the automobile is being celebrated in Geneva. Over a total exhibition area of 102,000 square meters, around 700 brands are showcasing the first new European automobile products and innovations of the year — including Škoda, Seat and Volkswagen. The automobile manufacturers are presenting itselfs with a new exhibition stand, built by NUSSLI and AMBROSIUS.
              .project__more
                .project__more-desc See More
                svg.question__icon
                  use(xlink:href="sprite/sprite.svg#read_more")
            .project__img
              picture
                source(type='image/webp' srcset='img/project/project_1.webp')
                img(src="img/project/project_1.png" alt="project")
        .project__item
          .project__inner
            .project__info
              h2.project__title Trade Fair Booth Seat
              .project__type
                .project__type-icon 
                  svg.project__type-svg
                    use(xlink:href="sprite/sprite.svg#work_1")
                p.project__type-desc Business
              p.project__text For the 88th time, the automobile is being celebrated in Geneva. Over a total exhibition area of 102,000 square meters, around 700 brands are showcasing the first new European automobile products and innovations of the year — including Škoda, Seat and Volkswagen. The automobile manufacturers are presenting itselfs with a new exhibition stand, built by NUSSLI and AMBROSIUS.
              .project__more
                .project__more-desc See More
                svg.question__icon
                  use(xlink:href="sprite/sprite.svg#read_more")
            .project__img
              picture
                source(type='image/webp' srcset='img/project/project_1.webp')
                img(src="img/project/project_1.png" alt="project")
        .project__item
          .project__inner
            .project__info
              h2.project__title Trade Fair Booth Seat
              .project__type
                .project__type-icon 
                  svg.project__type-svg
                    use(xlink:href="sprite/sprite.svg#work_1")
                p.project__type-desc Business
              p.project__text For the 88th time, the automobile is being celebrated in Geneva. Over a total exhibition area of 102,000 square meters, around 700 brands are showcasing the first new European automobile products and innovations of the year — including Škoda, Seat and Volkswagen. The automobile manufacturers are presenting itselfs with a new exhibition stand, built by NUSSLI and AMBROSIUS.
              .project__more
                .project__more-desc See More
                svg.question__icon
                  use(xlink:href="sprite/sprite.svg#read_more")
            .project__img
              picture
                source(type='image/webp' srcset='img/project/project_1.webp')
                img(src="img/project/project_1.png" alt="project")
        