section.question
  .container.question__container
    h2.title.question__title What can we do for you?
    a(href="#").question__arrow
      svg.question__icon
        use(xlink:href="sprite/sprite.svg#read_more")
    