section.service
  .container
    h2.title.service__title.wow.animate__animated.animate__fadeInUp Comprehensive Service from A to Z
    p.text.service__text With us, your event is in the best of hands, right from the very beginning. We support you in all project phases and provide you with knowhow and foresight while advising you every step of the way. Our services range from consulting services and planning to production, assembly and operation, as well as dismantling and warehousing.
    .service__wrap
      .service__block.wow.animate__animated.animate__fadeInUp(data-wow-delay=".1s")
        img(src="img/service/service_1.png", alt=".service")
        p.service__desc Concept and Consultation
      .service__block.wow.animate__animated.animate__fadeInUp(data-wow-delay=".2s")
        img(src="img/service/service_2.png", alt=".service")
        p.service__desc Planning and Implementation
      .service__block.wow.animate__animated.animate__fadeInUp(data-wow-delay=".3s")
        img(src="img/service/service_3.png", alt=".service")
        p.service__desc Operations
      .service__block.wow.animate__animated.animate__fadeInUp(data-wow-delay=".4s")
        img(src="img/service/service_4.png", alt=".service")
        p.service__desc Removal and Reuse