.structure
  .structure__info.wow.animate__animated.animate__backInDown
    h2.title.structure__title Passion for Temporary Structures
    p.structure__text NUSSLI is a global leader in the provision of temporary structures for sporting, cultural and business events. We offer you individually tailored solutions, from the initial concept to final implementation. Benefit from short completion times and our high level of quality. Take a stroll with us through this behind-the-scenes look at NUSSLI, and get to know us better.
    a(href="#").structure__read Read More
      svg.structure__icon
        use(xlink:href="sprite/sprite.svg#read_more")
  .structure__img
    picture
      source(type='image/webp' srcset='img/structure/structure_1.webp')
      img(src="img/structure/structure_1.jpg", alt="structure").structure__photo