@import "_normalize.scss";

.wrapper {
  font-family: sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}
button{
  outline: none;
}
a{
  text-decoration: none;
}

.header {
  position: sticky;
  top: 0;
  background-color: rgb(49, 42, 42);
  padding: 20px 0;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {}

  &__logo-link {
    font-size: 30px;
    color: #fff;
    &:hover{
      color: rgb(163, 152, 152);
      transition: .2s ease;

    }
  }

  &__nav-list {}

  &__nav-list-item {
    color: #ffffff;
    font-size: 18px;
    margin-right: 15px;

    &::after {
      content: '|';
      padding-left: 15px;
    }

    &:last-child {
      margin-right: 0;
    }

    &:last-child:after {
      content: "";
    }

    &:hover{
      color: rgb(163, 152, 152);
      transition: .2s ease;
    }
  }
}
#about__text, #partners__text{
  margin-top: 150px;
}



