@import "normalize";

button {
  border: 0;
  outline: none;
}

.wrapper {
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.main-title {
  font-size: 18px;
  color: #008ed6;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.main-heading {
  color: #1a1a1a;
  font-size: 36px;
  font-weight: 600;
  padding-bottom: 35px;
  position: relative;

  &:after {
    content: "";
    width: 42px;
    height: 2px;
    background: url("../img/feature-line.png") no-repeat;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.main-text {
  color: #999999;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;

}

.header {
  padding-top: 40px;
  background: url("../img/header-bg.png") no-repeat;
  background-size: cover;

  &__hero {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  &__logo {}

  &__logo-text {
    display: inline-block;
    max-width: 44px;
    color: #ffffff;
    font-size: 9px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.26px;
    opacity: .3;
    margin-left: 7px;
  }

  &__nav {}

  &__nav-link {
    color: #fffefe;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    margin-right: 20px;
    position: relative;
    padding-bottom: 9px;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: #7a7575;
      transition: 2s ease;
      transition-delay: .5s;

      &:before {
        content: "";
        width: 100%;
        height: 2px;
        background-color: #008ed6;
        position: absolute;
        bottom: 0;
      }
    }
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    max-width: 478px;
  }

  &__theme {
    margin-bottom: 25px;
  }

  &__title {
    color: #ffffff;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 30px;
  }

  &__text {
    letter-spacing: 1.4px;
    margin-bottom: 63px;
  }

  &__buttons {}

  &__btn {
    cursor: pointer;
    padding: 20px 30px;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    transition: .2s ease;
  }

  &__download {
    box-shadow: 0 0 3px rgba(3, 3, 3, 0.1);
    background-color: #008ed6;
    margin-right: 20px;
    border: 1px solid #008ed6;

    &:hover {
      border: 1px solid rgba(255, 255, 255, 0.2);
      color: #fff;
      background-color: transparent;
    }
  }

  &__view {
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: transparent;

    &:hover {
      border: 1px solid rgba(255, 255, 255, 0.2);
      color: #fff;
      background-color: #008ed6;
    }
  }

  &__device {}

}

.feature {
  padding: 65px 0 75px 0;
  text-align: center;
  border-bottom: 2px solid #ededed;

  &__text {
    text-transform: uppercase;
    color: #008ed6;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.4px;
    margin-bottom: 15px;
  }

  &__title {
    margin-bottom: 70px;

    &:after {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__hero {
    max-width: 1130px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  &__block {
    padding: 15px;
    max-width: 229px;
    transition: .2s ease;

    &:hover {
      cursor: pointer;
      -webkit-box-shadow: 2px 0px 13px 0px #D6D6D6;
      box-shadow: 2px 0px 13px 0px #D6D6D6;
    }
  }

  &__icon {
    margin-bottom: 35px;
  }

  &__img {}

  &__block-title {
    margin-bottom: 15px;
    font-size: 18px;
    color: #333333;

  }

  &__block-text {}

}

.footer {
  padding: 65px 0;

  &__hero {
    display: flex;
    align-items: center;
  }

  &__bg {
    margin-right: 70px;
  }

  &__img {}

  &__info {
    max-width: 466px;
  }

  &__detail {
    margin-bottom: 5px;
  }

  &__title {
    margin-bottom: 25px;
  }

  &__text {
    margin-bottom: 30px;
    font-size: 18px;
  }

  &__wrap {}

  &__work {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
  }

  &__icon {
    width: 17px;
    margin-right: 7px;
  }

  &__icon-img {}

  &__service {
    color: #1b1b1b;
    font-size: 18px;
  }
}