@import "_normalize.scss";

@font-face {
  font-family: "Avenir";
  src: url("/fonts/Avenir-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Avenir";
  src: url("/fonts/Avenir-Roman.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Avenir";
  src: url("/fonts/Avenir-Black.woff") format("woff");
  font-weight: 700;
}

.btn {
  text-transform: uppercase;
  background-color: #6e9bca;
  padding: 9px 10px;
  color: #ffffff;
  letter-spacing: -0.01px;
  cursor: pointer;

  &:hover {
    transition: .2s ease;
    background-color: #000;
  }
}

.wrapper {
  font-family: Avenir, sans-serif;
  color: #373645;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

.header {
  height: 100vh;
  background: url("../img/header-bg.png") no-repeat;
  background-size: cover;

  &__hero {
    padding: 40px 0 0 0;
    position: relative;
    z-index: 2;

    &:after {
      content: "";
      width: 100%;
      height: 100%;
      background: url("../img/shadow.png") no-repeat;
      position: absolute;
      left: 0;
      top: 13%;
      z-index: -1;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 0;
    background-color: #fff;
  }

  &__logo {
    height: 115px;
  }

  &__img {}

  &__photo {
    height: 100%;
  }

  &__list {
    padding-left: 55px;
    position: relative;

    &:before {
      content: "";
      width: 28px;
      height: 28px;
      background: url("../img/header__home.png");
      position: absolute;
      left: 0;
      top: -8px;
    }
  }

  &__link {
    text-decoration: none;
    color: #373645;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -0.03px;
    margin-right: 25px;

    &:last-child {
      margin-right: 0;
    }
    &:hover{
      transition: .2s ease;
      color: rgb(146, 166, 189);
    }
  }

  &__social {
    display: flex;

  }

  &__icon {
    cursor: pointer;
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__info {
    padding: 140px 0 0 0;
    margin-left: 120px;
    text-transform: uppercase;
    letter-spacing: -0.04px;
    max-width: 370px;
  }

  &__create {
    color: #ffffff;
    font-size: 69px;
    font-weight: 300;
  }

  &__life {
    font-size: 42px;
    font-weight: 400;
  }

  &__text {
    color: #6f9ccb;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.28px;
  }
}



.main {

  &__about {
    padding: 100px 0 70px 0;
    text-transform: uppercase;
  }

  &__info {
    padding: 16px 0 18px 0;
    margin-bottom: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 5px solid #373645;
    border-bottom: 5px solid #6e9bca;
  }

  &__title {
    color: #373645;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -0.6px;
  }

  &__text {
    color: #cccccc;
    font-size: 21px;
    font-weight: 300;
    letter-spacing: -0.42px;
  }

  &__btn {
    font-size: 14px;
    font-weight: 400;
  }

  &__services {}

  &__service-title {
    text-align: center;
    margin-bottom: 95px;
    overflow: hidden;
  }

  &__line {
    position: relative;

    &:before,
    &:after {
      content: "";
      background-color: #ccc;
      height: 1px;
      width: 1000px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &:before {
      right: 150px;
    }

    &:after {
      left: 150px;
    }
  }

  &__hero {
    display: flex;
  }

  &__block {
    text-transform: uppercase;
    text-align: center;
    max-width: 255px;
    margin-right: 65px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__block-img {
    margin-bottom: 35px;
  }

  &__photo {}

  &__block-title {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: -0.5px;
    margin-bottom: 15px;
  }

  &__block-text {
    color: #ccc;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.24px;
    margin-bottom: 30px;
    line-height: 1.3;
  }

  &__block-btn {}
}