@import "nullstyle";

@font-face {
  font-family: "Rockwell";
  src: url("../fonts/Rock.woff") format("woff"),
    url("../fonts/Rock.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Rockwell";
  src: url("../fonts/Rock.woff") format("woff"),
    url("../fonts/Rock.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.woff") format("woff"),
    url("../fonts/Raleway-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.woff") format("woff"),
    url("../fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.wrapper {
}
.container {
  max-width: 1169px;
  margin: 0 auto;
}
.btn {
  background-color: #ffe13e;
  color: #202242;
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 400;
}

.header {
  &__wrap {
    padding: 41px 0 31px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  &__logo {
    display: flex;
  }

  &__logo-icon {
    margin-right: 18px;
  }

  &__img {
  }
  &__logo-title {
    color: #202242;
    font-family: Rockwell;
    font-size: 30px;
    font-weight: 400;
  }
  &__logo-text {
    font-weight: 700;
  }
  &__nav {
  }
  &__nav-border {
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 71%;
      width: 1px;
      height: 100%;
      background-color: #ebebeb;
    }
  }

  &__link {
    color: #202242;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin-right: 35px;
    &:hover {
      transition: 0.2s ease;
      color: #ffe13e;
    }
  }
  &__link-active {
    color: #ffe13e;
    font-weight: 700;
  }

  &__inner {
  }

  &__help {
    display: inline-block;
    color: #202242;
    font-family: "Raleway";
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 52%;
      background-color: #babac4;
      width: 1px;
      height: 100%;
    }
  }

  &__chat {
    font-weight: 700;
    padding: 15px 30px;
    border: 2px solid #ffe13e;
    &:hover {
      transition: 0.2s ease;
      background-color: #fff;
      border: 2px solid #ffe13e;
    }
  }

  &__number {
    font-family: sans-serif;
    color: #202242;
    font-size: 24px;
    font-weight: 700;
  }
}

.hosting {
  padding: 150px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../img/hosting-bg.png") #acbaba;
  background-size: cover;
  color: #ffffff;
  font-family: Rockwell;
  text-align: center;

  &__title {
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 30px;
  }

  &__text {
    display: inline-block;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 50px;
  }

  &__icon {
    margin-bottom: 60px;
  }

  &__form {
    max-width: 572px;
    display: flex;
    margin: 0 auto;
    border: 18px solid #dcdcdc;
    background-color: #fff;
  }
  &__field {
    color: #2d2d2d;
    font-family: Raleway;
    padding: 20px 0 20px 22px;
  }
  &__name {
    padding-right: 10px;
    font-size: 18px;
    font-weight: 400;
  }
  &__select {
    padding-right: 15px;
    background-color: #ffe13e;
    margin-right: 1px;
  }
  &__domain {
    background-color: #ffe13e;
    color: #2d2d2d;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
  }

  &__button {
    flex: 1;
    background-color: #ffe13e;
    color: #ffffff;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 700;
  }
}
.service {
  display: flex;
  justify-content: space-between;

  &__box {
    padding: 80px 0 104px 0;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__dark {
    background-color: #202242;
  }
  &__light {
    background-color: #ffe13e;
  }

  &__wrap {
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
  }
  &__icon {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 200px;
    margin-bottom: 56px;
  }
  &__icon_light {
    padding-bottom: 30px;
  }

  &__title {
    color: #ffffff;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 25px;
  }

  &__text {
    color: #ffffff;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 35px;
  }

  &__button {
    display: inline-block;
    padding: 22px 56px;
    border: 3px solid #fff;
    background-color: transparent;
    color: #ffffff;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    &:hover {
      cursor: pointer;
      transition: 0.2s ease;
      color: #202242;
      background-color: #fff;
    }
  }
}
